<% include partials/header.ejs %>

<div class="row mt-5">
    <div class="col-md-6 mx-auto bg-secondary">
        <h4>Something went wrong!</h4>
        <h6>Please go back to the main page: <a class="btn btn-sm btn-primary text-white" href='/'>Back</a></h6>
    </div>
</div>

<% include partials/footer.ejs %>