<% include partials/header.ejs %>
        <div class="jumbotron text-center">
                <h1 class="display-4">Welcome to Bushcraft Serbia!</h1>
                <p class="lead text-center">If you haven't heard of Bushcraft don't worry. That's the future!</p>
                
                <div class="row">
                    <a class='btn col-md-3 mx-auto btn-success' href='/campgrounds'>Take a look!</a>

                </div>
                <p class="lead mt-3 text-center">You can see some of our best camp sites, with plenty advice on how to set up your own camp.</p>
                <hr class="my-4">
               
                <p class="lead">You already have some experience?</p>
                <div class="row">
                        <a class="btn btn-primary col-md-3 mx-auto" href="/campgrounds/new" role="button">Post your spot!</a>
                </div>
                
              </div>


<% include partials/footer.ejs %>